
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stores</h2>
<div id="root"></div>

@section scripts{
    <script src="~/Scripts/React/dist/store_bundle.js"></script>
}