
@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales</h2>
<div id="root"></div>
@section scripts{
    <script src="~/Scripts/React/dist/sale_bundle.js"></script>
}

